.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
logs/
data/raw/
data/tmp/
data/curated/
*.parquet
*.coverage
.coverage
*.png
*.drawio.bkp
src/trading_lab.egg-info/
.streamlit/secrets.toml